dependency_injector==4.41.0
requests==2.31.0
fastapi==0.115.12
uvicorn==0.34.1
PyJWT==2.6.0
pydantic==2.11.3
httpx==0.28.1
PyYAML==6.0
simplejson==3.19.2
hvac==2.1.0
schema==0.7.5
pytest==8.3.5
requests-futures==1.0.1
sqlalchemy==2.0.40
python-keycloak==5.5.0
alembic==1.15.2
asyncpg==0.30.0
psycopg2-binary==2.9.9